.git/
.github/
.Rproj.user/

.RData
.Rhistory

data/
jobs/
gta_output/
all_raw_data_GTA/

renv/library/
renv/staging/
renv/cache/
.docker-renv-cache/

Markdown/
report/
_book/
_bookdown_files/

*.tar.gz
*.gpkg
level0.csv
