ALBglobal_catch_firms_level0.nc
BETglobal_catch_firms_level0.nc
SBFglobal_catch_firms_level0.nc
SKJglobal_catch_firms_level0.nc
YFTglobal_catch_firms_level0.nc
cl_areal_grid.csv
cwp_grid.zip
global_catch_5deg_1m_firms_level1.nc
global_catch_firms_level0.nc
global_catch_ird_level2_codelists.csv
global_catch_ird_level3.nc
global_nominal_catch_firms.nc
iccat_catch_all_1m_firms_level0_20240517.csv
iccat_nominal_catch_firms_level0_20240517.csv
iotc_catch_all_1m_firms_level0_1950_2021_20240510.csv
iotc_conv_fact_mapped.csv
iotc_nominal_catch_firms_level0_1950_2021_20240510.csv
not_mapped_total.rds
recap_mapping.rds
