PublicLLTunaBillfish.zip
PublicLLTunaBillfishMt.csv
PublicLLTunaBillfishNum.csv
PublicLPTuna.zip
PublicLPTunaFlag.csv
PublicPSBillfish.zip
PublicPSBillfishFlag.csv
PublicPSBillfishSetType.csv
PublicPSShark.zip
PublicPSSharkFlag.csv
PublicPSSharkSetType.csv
PublicPSTuna.zip
PublicPSTunaFlag.csv
PublicPSTunaSetType.csv
PublicSizePSBillfish.csv
PublicSizePSBillfish.zip
Purse_seine.pdf
WCPFC_G_PUBLIC_BY_YR_MON.csv
WCPFC_G_PUBLIC_BY_YR_MON_2.zip
WCPFC_L_PUBLIC_BY_YY_MM_FLAG.csv
WCPFC_L_PUBLIC_BY_YY_MM_FLAG.zip
WCPFC_L_PUBLIC_BY_YY_MM_FLAG_Coverage.csv
WCPFC_P_PUBLIC_BY_YY_MM.csv
WCPFC_P_PUBLIC_BY_YY_MM.zip
WCPFC_S_PUBLIC_BY_YY_MM.csv
WCPFC_S_PUBLIC_BY_YY_MM.zip
WCPFC_S_PUBLIC_BY_YY_MM_1x1.csv
WCPFC_S_PUBLIC_BY_YY_MM_1x1.zip
WCPFC_S_PUBLIC_BY_YY_MM_1x1_coverage.csv
WCPFC_S_PUBLIC_BY_YY_MM_Coverage.csv
XLS_WCPFC_2025-11-27.csv
XLS_WCPO_2025-11-27.csv
YEARBOOK_DATA_FILES.doc
t1nc-20260129_ALL_ICCAT.xlsx
geoflow_entities_tuna_datasets - Georef_data_2026_noIOTC_ICCAT_oneline.csv
GlobalCatch_Flag_Gear_CCSBT.xlsx
LLShark-Tiburon.pdf
LLTunaBillfish-AtunPicudo.pdf
LPTuna-Atun.pdf
Longline.pdf
PSBillfish-Picudos.pdf
PSBillfishSize-PicudosTamano.pdf
PSShark-Tiburon.pdf
PSTuna-Atun.pdf
Pole_and_line.pdf
PublicLLShark.zip
PublicLLSharkMt.csv
PublicLLSharkNum.csv
CA_RAW.csv
CEData_Longline.xlsx
CEData_Surface.xlsx
CatchByFlagGear.pdf
CatchByFlagGear.zip
CatchByFlagGear1918-2023.csv
CatchByOYF.xlsx
CatchByYMGOLoLa.xlsx
EF_RAW.csv
GN_Public_by_YR_MON.pdf
